{% extends "elements/base.html" %}
{% block title %}Insira a nova senha{% endblock %}

{% block content %}
<section class="block-in">
    <div class="row">
        <div class="widget large-10 medium-10 small-10 columns text-center large-centered medium-centered small-centered esqueci-senha">
            {% if validlink %}
                <h3>Insira a nova senha</h3>
                <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p><br />
                <div class="large-6 small-6 medium-6 columns large-centered medium-centered small-centered">
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <p>{{ form.new_password1.errors }}</p>
                    <label for="id_new_password1">Nova senha:</label>
                    <p>{{ form.new_password1 }}</p>

                    <p>{{ form.new_password2.errors }}</p>
                    <label for="id_new_password2">Confirme a senha:</label>
                    <p>{{ form.new_password2 }}</p>

                    <p><input class="button success tiny" type="submit" value="Alterar minha senha" /></p>
                </form>
                </div>
            {% else %}
                <h3>Recuperação de senha sem sucesso</h3>
                <p>O link para a recuperação de senha era inválido, possivelmente porque já foi utilizado. <br/>
                    Por favor, solicite uma nova recuperação de senha.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}