{% extends "elements/base.html" %}

{% block title %}Recuperar senha{% endblock %}

{% block content %}
<section class="block-in">
    <div class="row">
        <div class="widget large-6 medium-6 small-6 columns large-centered esqueci-senha">
            <p>Esqueceu sua senha? Digite seu e-mail abaixo e você receberá instruções para definir uma nova.</p>

            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                 {{ form.email.errors }}
                <p><label for="id_email">Endereço de e-mail:</label> {{ form.email }} <input class="button small" type="submit" value="Restaure sua senha" /></p>
            </form>
        </div>
    </div>
</section>
{% endblock %}