{% extends "elements/base.html" %}

{% block title %}Conta não cadastrada{% endblock %}

{% block content %}
<section class="block-in">
    <div class="row">
        <div class="widget large-12 medium-12 small-12 columns large-centered esqueci-senha">
            <h3>Conta não cadastrada.</h3>
            <p>O e-mail que você informou não está associado a uma conta do Prato Social. <br/>
            Clique <a href="" data-reveal-id="modal-cadastrar">aqui</a> e cadastre-se.</p>
        </div>
    </div>
</section>
{% endblock %}