{% extends "elements/base.html" %}

{% block title %}Recuperação de senha completa{% endblock %}

{% block content %}
<section class="block-in">
    <div class="row">
        <div class="widget large-12 text-center medium-12 small-12 columns large-centered esqueci-senha">
            <h3>Recuperação de senha completa</h3>
            <p>Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
            <p><a href="" class="button" data-reveal-id="modal-login">Login</a></p>
        </div>
    </div>
</section>
{% endblock %}