{% extends "elements/base.html" %}

{% block title %}Senha recuperada com sucesso{% endblock %}

{% block content %}
<section class="block-in">
    <div class="row">
        <div class="widget large-12 medium-12 small-12 columns large-centered esqueci-senha">
            <h3>Senha recuperada com sucesso.</h3>
            <p>Enviamos as instruções de como definir sua nova senha para o e-mail que você informou. <br/>
            Você deverá recebê-las em breve.</p>
        </div>
    </div>
</section>
{% endblock %}